<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Matched Up</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/modern-business.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Matched Up - Events</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Forums.html">Forums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Matches.html">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Matches</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
          {% for item in data %}
          <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <h4 class="card-header">{{item[1]}}</h4>
                <div class="card-body">
                  <p class="card-text">Strength: __</p>
                  <p class="card-text">From City: {{item[4]}}</p>
                  <p class="card-text">Language: {{item[7]}}</p>
                  <p class="card-text">Similar Interests:</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary" id="myBtn">Accept Match</a>
                </div>
              </div>
            </div>
          {% endfor %}
    </div>
    <!-- /.container -->
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>{{data[0][1]}}</h1>
    <p class="card-text">Email: {{data[0][10]}}</p>
    <p class="card-text">Phone: {{data[0][11]}}</p>
  </div>

</div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Matched Up 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    
    <script>// Get the modal
        var modal = document.getElementById('myModal');
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks on the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }</script>

  </body>

</html>
